# compiled files:
*.o
*.so
*.a
*.exe
# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*

# tex files:
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.toc
*.snm
*.vrb

*.pdf

# Intermediate files
*.txt
*.csv
*.dat

# REVTeX-specific:
*Notes.bib

*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.run.xml
*.synctex.gz

# eclipse files:
*.cproject
*.project
# misc:
.DS_Store
Trash
# doconce:
.*_html_file_collection

*.copyright

*.copyright

*.exerinfo

doc/Projects/2016/Project2/.out.copyright

doc/Projects/2016/Project2/.project2_2016.copyright

*.exerinfo

*.dlog



*.user

doc/Programs/ParallelizationMPI/dill10

doc/pub/*

# for macOS:
.DS_Store
